// Container for mobile
.container {
  margin: 0 auto;
  padding: 60px 15px;
  width: $mobile;

  // Container for tablet

  @media screen and(min-width: $tablet) {
    width: $tablet;
  }

  // Container for desktop

  @media screen and(min-width: $desktop) {
    width: $desktop;
  }
}
