// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Common styles
$header-gradient: rgba(0, 0, 0, 0.56);
$bg-color: #fff;
$primary-text-color: #fff;
$secondary-text-color: #000;
$accent-color: #ff6b08;
