<header class="header">
  <div class="container header__container">
    <a class="header__logo">
      <svg class="header__logo-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <h1 class="header__logo-text">Filmoteka</h1>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a id="home-link" class="header-nav__link">HOME</a>
        </li>
        <li class="header-nav__item">
          <a id="library-link" class="header-nav__link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <form class="header__form">
      <input
        class="header__form-input"
        name="searchQuery"
        placeholder="Search"
        autocomplete="off"
        type="text"
      />
      <button class="header__form-btn">
        <svg class="header-nav__logo-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="header__library">
      <button id="watched-btn" class="header__library-btn">Watched</button>
      <button id="queue-btn" class="header__library-btn">Queue</button>
    </div>
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="./images/sprite.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/sprite.svg#moon"></use>
      </svg>
    </div>
  </div>
</header>
