<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="index.html">
      <svg class="header__logo-icon" width="24" height="24">
        <use href="./images/sprite.svg#icon-film"></use>
      </svg>
      <span class="header__logo-text">Filmoteka</span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="index.html" class="header-nav__link header-nav__link--active">HOME</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <form class="header__form">
      <input
        class="header__form-input"
        placeholder="Поиск фильмов"
        autocomplete="off"
        type="text"
      />
      <button class="header__form-btn">
        <svg class="header-nav__logo-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
