<div class="backdrop is-hidden" data-modal>
  <section class="film-card">
    <div class="film-card__img"><img src="#" alt="#" />
    </div>

    <div class="film-card__container">
        <div class="film-card__descr">
            <h2 class="film-card__title">A FISTFUL OF LEAD</h2>
            <ul class="film-specification__list">
                <li class="film-specification__item">
                    <p class="film-specification__name">Vote<span class="symbol">&#47</span>Votes</p>
                    <span class="film-specification__value film-specification__vote">
                        <span class="film-specification__vote--light">7.3</span><span class="symbol">&#47</span>1260
                    </span>
                </li>

                <li class="film-specification__item">
                    <p class="film-specification__name">Popularity</p>
                    <span class="film-specification__value film-specification__pop">100.2</span>
                </li>

                <li class="film-specification__item">
                    <p class="film-specification__name">Original Title</p>
                    <span class="film-specification__value">A FISTFUL OF LEAD</span>
                </li>

                <li class="film-specification__item">
                    <p class="film-specification__name">Genre</p>
                    <span class="film-specification__value">Western </span>
                </li>
            </ul>
        </div>
    
        <div class="film-card__descr">
            <h3 class="description__title">ABOUT</h3>
            <p class="description__text">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
            the other three escapes with bags of gold hide out in the abandoned gold mine where they
            happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
            filled with lead... they’ve been double crossed – but by who and how?
            </p>
        </div>
        
        <div class="film-card__buttons">
            <button id="addBtnWatched">ADD TO WATCHED</button>
            <button id="addBtnQueue">ADD TO QUEUE</button>
        </div>

        <button class="close-modal__button">
            <svg class="modal-icon" width="14" height="14">
            <use href="./images/sprite.svg/#icon-close
            "></use>
            </svg>
        </button>

    </div>
  </section>

</div>
