.footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 29px;
  color: $grey-primary-color;
  background-color: $grey-secondary-color;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 28px;

    font-size: 16px;
    line-height: 1.2;
  }
}

.footer__copyright {
  display: block;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0px;
    margin-right: 3px;
  }
}

.footer__icon-favorite {
  margin-left: 10px;
  margin-right: 10px;
  animation: heart 3000ms infinite 1000ms;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.footer__developers--link {
  display: inline-flex;
  color: $grey-primary-color;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms ease-in-out;
  text-decoration: underline;
}

.footer__developers--link:hover {
  color: $accent-color;
}