.header {
  height: 230px;
  max-width: 100%;
  background-image: linear-gradient($header-gradient, $header-gradient),
    url('../images/header-mobile-bg@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient($header-gradient, $header-gradient),
      url('../images/header-mobile-bg@2x.jpg');
  }
  @media screen and(min-width: $tablet) {
    background-image: linear-gradient($header-gradient, $header-gradient),
      url('../images/header-tablet-bg@1x.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($header-gradient, $header-gradient),
        url('../images/header-tablet-bg@2x.jpg');
    }
  }
  @media screen and(min-width: $desktop) {
    background-image: linear-gradient($header-gradient, $header-gradient),
      url('../images/header-bg@1x.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($header-gradient, $header-gradient),
        url('../images/header-bg@2x.jpg');
    }
  }
  &--library {
    background-image: linear-gradient($header-gradient, $header-gradient),
      url('../images/header-library-mobile-bg@1x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($header-gradient, $header-gradient),
        url('../images/header-library-mobile-bg@2x.jpg');
    }
    @media screen and(min-width: $tablet) {
      background-image: linear-gradient($header-gradient, $header-gradient),
        url('../images/header-library-tablet-bg@1x.jpg');
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient($header-gradient, $header-gradient),
          url('../images/header-library-tablet-bg@2x.jpg');
      }
    }
    @media screen and(min-width: $desktop) {
      background-image: linear-gradient($header-gradient, $header-gradient),
        url('../images/header-library-bg@1x.jpg');
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient($header-gradient, $header-gradient),
          url('../images/header-library-bg@2x.jpg');
      }
    }
  }
}
.header__container {
  position: relative;
  padding-top: 113px;
  padding-bottom: 97px;
  &--library {
    padding-top: 121px;
    padding-bottom: 65px;
  }
}
.header__logo {
  position: absolute;
  top: 46px;
  left: 21px;
  display: flex;
  align-items: center;
  @media screen and(min-width: $tablet) {
    top: 41px;
    left: 71px;
  }
  &-icon {
    margin-right: 10px;
  }
  &-text {
    display: none;
    @media screen and(min-width: $tablet) {
      display: block;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;

      color: $primary-text-color;
    }
  }
}
.header-nav {
  position: absolute;
  top: 58px;
  right: 20px;
  @media screen and(min-width: $tablet) {
    right: 76px;
  }
  @media screen and(min-width: $desktop) {
    right: 71px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__item {
    &:last-child {
      margin-left: 39px;
    }
  }
  &__link {
    padding: 3px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: $primary-text-color;
    position: relative;
    &:hover::after,
    &:focus::after {
      width: 101%;
      bottom: -1px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 0%;
      height: 3px;
      background-color: $accent-color;
      transition: color, width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &--active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      display: block;
      width: 101%;
      height: 3px;
      background-color: $accent-color;
      transition: color, width 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.header__form {
  position: relative;
  max-width: 280px;
  height: 20px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-bottom: 0.5px solid $primary-text-color;
  @media screen and(min-width: $tablet) {
    max-width: 336px;
  }
  &.visually-hidden {
    display: none;
  }
  &-input {
    width: 324px;
    max-height: 20px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-text-color;
    background-color: transparent;
    &::placeholder {
      margin-left: 4px;
      margin-bottom: 4px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: $primary-text-color;
      text-indent: 0px;
      opacity: 1;
      transition: all 0.4s ease;
    }
    &:focus::placeholder {
      opacity: 0;
      text-indent: 250px;
    }
  }
  &-btn {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    background-color: transparent;
  }
}
.header__library {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &-btn {
    width: 136px;
    height: 44px;
    color: $primary-text-color;
    background-color: transparent;
    border: 1px solid $primary-text-color;
    border-radius: 5px;
    padding: 14px 38px 12px 38px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
      border: 1px solid $accent-color;
    }
    &:first-child {
      margin-right: 20px;
      @media screen and(min-width: $tablet) {
        margin-right: 15px;
      }
    }
    &.active {
      background-color: $accent-color;
      border: 1px solid $accent-color;
    }
  }
  &.visually-hidden {
    display: none;
  }
}

.main-title {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;
  margin-right: 35px;
}

.main-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-btn button {
  padding: 5px 0;
  &:first-child {
    margin-right: 20px;
  }
  &:hover {
    background-color: $accent-color;
  }
  &:focus {
    background-color: $accent-color;
  }
}
